@import "~bootstrap/scss/bootstrap";

html,
body,
#app {
    height: 100%;
    margin: 0
}

a {
    vertical-align: middle;
    display: inline-block;
}

.material-icons {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
}