@import "~bootstrap/scss/bootstrap";

.huge {
    font-size:200%;
}
a {
    vertical-align:middle;
    display:inline-block;
}
.material-icons {
    font-size: 20px;
}
.code {
    font-family:'Courier New';
    padding: 15px;
}